# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?
._*

# Thumbnails
._.DS_Store

# macOS folder attributes
.Spotlight-V100
.Trashes

# macOS system files
.fseventsd
.com.apple.timemachine.donotpresent

# macOS volume files
.VolumeIcon.icns

# macOS network files
.Network Trash Folder

# macOS temporary files
.TemporaryItems
.apdisk

# U2PM
U2pmMgr
_patch.lua
.u3patch.lua
